<template name="header">
	<header class="navbar">
		<div class="navbar-inner">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="{{pathFor 'postsList'}}">Microscope</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					{{#if currentUser}}
						<li>
							<a href="{{pathFor 'postSubmit'}}">New</a>
						</li>
					{{/if}}
				</ul>
				<ul class="nav pull-right">
					<li>{{> loginButtons}}</li>
				</ul>
			</div>
		</div>
	</header>
</template>