<template name="postEdit">
	<form class="main">
		<div class="control-group">
			<label class="control-label" for="url">URL</label>
			<div class="controls">
				<input name="url" type="text" value="{{url}}" placeholder="Your URL"/>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="title">Title</label>
			<div class="controls">
				<input name="title" type="text" value="{{title}}" placeholder="Name your post"/>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Submit" class="btn btn-primary submit"/>
			</div>
		</div>
		<hr/>
		<div class="control-group">
			<div class="controls">
				<a href="#" class="btn btn-danger delete">Delete post</a>
			</div>
		</div>
	</form>
</template>